@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --color-primary: #48cfad;
    --color-second: #e6e9ed; 
    --color-white: #FFFFFF;
    --color-black: #000000;
    --typography-roboto:'Roboto', sans-serif;
    --typography-roboto-mono:'Roboto Mono', monospace;
    --typography-roboto-slab:'Roboto Slab', serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--typography-roboto-mono);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    display: inline;
    color: var(--color-black);
}

header {
    display: grid;
    width: 100vw;
    height: 142px;
    grid-template-rows: 1fr 1fr ;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--color-primary);
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .header-icons-container .icons span {
    color: var(--color-white);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 92px;
}

nav .nav-logo-container {
    margin-left: 50px;
    align-self: center;
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: var(--color-black);
    text-decoration: underline;
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 30px solid var(--color-primary);
    color: var(--color-white);
}

/*----------- pagina index.html ----------*/

.home-main {
    width: 100vw;
    height: 75vh;
    background-image: url("../assets/img/Cover.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-background-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main-background-container>div {
    width: 55%;
    margin-top: 100px;
    text-align: center;
}

.main-background-container h1 {
    color: var(--color-white);
    font-family: var(--typography-roboto-mono);
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 10px;
}

.main-background-container button {
    width: 110px;
    height: 50px;
    background-color: var(--color-primary);
    color: var(--color-black);
    font-size: 1.7rem;
    font-weight: bolder;
    cursor: pointer;
}

/*----------- pagina blogs.html ----------*/

.main-blogs .main-section--notices {
    height: auto;
    padding-bottom: 30px;
    background-color: var(--color-second);
}

.section-notice--preview {
    display: grid;
    margin: 0 140px;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 60px 3fr;
}

.section-notice--preview>p {
    grid-row: 1;
    grid-column: 1 / 3;
    font-size: 1.8rem;
    font-weight: bolder;
}

.notice-preview--img {
    width: 550px;
    grid-row: 2;
    grid-column: 1 / 2;
}

.notice-preview--text {
    margin-left: 80px;
    grid-row: 2;
    grid-column: 2 / 3;
}

.notice-preview--text>h2 {
    font-size: 2.4rem;
    font-weight: bold;
}

.notice-preview--text>p {
    margin-bottom: 40px;
}

.blogs-buttons {
    width: 80px;
    height: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid var(--color-primary);
    text-decoration: none;
}

.main-section--blogs {
    width: 80%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 30px;
}

.main-section--blogs>h3{
    text-align: center;
    padding: 16px 0;
    font-weight: bold;
    border-bottom: 3px solid var(--color-second);;
}

.section-blogs--preview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 540px);
    gap: 20px;
}

.section-blogs--preview article img {
    width: 320px;
    height: 200px;
}

.blog-article--title {
    padding-bottom: 16px;
}

.blog-article--text {
    padding-bottom: 16px;
}

.section-blogs--preview article>a {
    margin-bottom: 16px;
}

/*----------- pagina blog.html ----------*/

.main-section--blog {
    width: 95%;
    margin: 0 auto;
}

.main-section--blog>img {
    width: 100%;
    margin-bottom: 30px;
}

.section-blog--text {
    width: 80%;
    margin: 0 auto;
}

.section-blog--text>h3 {
    padding-bottom: 24px;
    border-bottom: 3px solid var(--color-second);
}

.section-blog--text>h1 {
    font-size: 3.5rem;
    font-weight: bolder;
}

.main-section--contact {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 30%);
    column-gap: 300px;
    grid-template-rows: 300px;
    place-content: center;
    align-items: center;
    background-color: var(--color-second);
}

.section-contact--link {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
}

.section-contact--link>img {
    width: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.section-contact--link>a {
    grid-column: 2 / 3;
    text-decoration: underline;
}

.section-contact--link>p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.section-write--link {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;
}

.section-write--link>img {
    width: 100px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.section-write--link>a {
    grid-column: 2 / 3;
    text-decoration: underline;
}

.section-write--link>p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/*----------- pagina perfil.html ----------*/

.section-profile--about {
    width: 100%;
    height: auto;
    margin-bottom: 32px;
}

.profile-about--description {
    display: grid;
    padding: 50px 100px ;
    justify-items: center;
    background-color: var(--color-second);
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 60px 240px;
}

.profile-about--description>img {
    width: 420px;
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.profile-about--description>h2 {
    justify-self: left;
    grid-column: 2 / 3;
}

.profile-about--description>p {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.section-profile--projects {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 32px;
}

.profile-projects--article {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
}

.projects-article--resume {
    padding: 24px;
}

.section-profile--projects>h2 {
    text-align: center;
    border-bottom: 2px solid var(--color-second);
    padding-bottom: 16px;
}